.python-version
train_job.sh
docker-install/
logs/
.venv
data/*
src/repana_experiments.egg-info
outputs
results
__pycache__
cv/*
tests
plots
.env
.DS_Store
uv.lock
src/project/modal-test.py
dist
uv*
*gitignore
repana.tar
*.lock
